# virtual envs
venv/
.venv/
env/

# python cache
__pycache__/
*.pyc
*.pyo
.pytest_cache/
.mypy_cache/

# local db & generated
db.sqlite3
staticfiles/
media/
*.log
coverage.xml
.coverage

# editors/OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# builds
build/
dist/
*.egg-info/
.tox/